<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X-Naver-Client-Id</key>
	<string>jbitx_IQsROC5kBPEPhA</string>
	<key>X-Naver-Client-Secret</key>
	<string>xyttJRFcv8</string>
</dict>
</plist>
